.nav-left{
    width: 17vw !important;
    height: 95vh !important;
    background-color: #181818;
    border-radius: 25px !important;
    position: fixed; /* these three lines make the divs fixed on the page -swayam*/
    top:3vh;
    left: 5vw;
    overflow:auto;
}
.middle-column{
    width: 50vw !important;
    position: relative;
    top:3vh;
    /* left: 2vw; */ 
}
.nav-right{
    width: 17vw !important;
    position: absolute;
    top: 3vh;
    right: 5vw;
    overflow: auto;
}

.nav-top{
    display: none;
}

@media screen and (max-width: 950px){
    .nav-left{
       display: none !important;
    }
    .nav-right{
       display: none !important;
    }
    /* .nav-top{
        display: contents !important;
    } */
    .middle-column{
        width: 90vw !important;
    }
  }

@media screen and (max-height: 475px){
    .nav-left{
       overflow: auto;
    }
  }
