.container {
    width : 25vw;
    background: #111111;
    border-radius: 20px;
    padding: 25px 35px;
    border: 2px solid rgb(29, 29, 29);
   
    margin: 20px;
  }
.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #36A6B2;
   
    filter: drop-shadow(0px 5.81px 72.63px #36A6B2 ); /* Used equivalent color */
}

  .form {
    margin-top: 20px;
  }

  .form .input {
    width: 100%;
    background: rgb(29, 29, 29);
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    color: white;
    border-inline: 2px solid transparent;
  }

  .form .input::placeholder {
    color: white;
  }

  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }

  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .form .forgot-password a {
    font-size: 11px;
    color: #36A6B2;
    text-decoration: none;
  }

  .form .login-button {
    display: block;
    width: 100%;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    
  }
  @media screen and (max-width: 780px){
 
    .vdo {
        display:none;
    }
 
    .container {
      width : 80vw;
     
      height : 100%;
      justify-items: center;
      
    }
}