.create-div{
    background-image: url(../assets/search_bar_pic.jpg);
    background-position:top;
    background-repeat: no-repeat;
    border-radius: 20px;
    /* border: solid black 3px; */
}

.create-div-bottom{
    width: 100%;
    min-height: fit-content;
}

.create-div-top{
    width: 100%;
}

.intern-button{
    color: cyan !important;
    border: cyan solid 2px !important;
}
.intern-button:hover{
    border: 1px cyan solid !important;
}


.project-button{
    color: orange !important;
    border: orange solid 2px !important;
}

.project-button:hover{
    border: 1px orange solid !important;
}
.post-button{
    color: lightgray !important;
    border: lightgray solid 2px !important;
}

.post-button:hover{
    border: 1px lightgrey solid !important;
}

.base-post-button{
    background-color: rgba(0, 0, 0, 0.375);
    
    width: 33%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
    backdrop-filter: blur(2px);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.base-post-button:hover{
    backdrop-filter: blur(8px);
    scale: 1.05;
}


.create-bar-picture-div{
    width: 10%;
}

.create-bar-picture-internal-div{
    max-height: 100% !important;
    max-width: 100% !important ;
    border: 0.3vh;
    border-color: aqua;
    border-style: solid;
}

.create-post-button-div{
    height: 100% ;
    width: 80%;
}

.main-create-post-button{
    background-color: rgba(0, 0, 0, 0.375);
    color: white !important;
    border: rgb(60, 60, 60) solid 1px !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 25px !important;
    cursor: pointer;
    backdrop-filter: blur(2px);
}

.Poppins-create-post-button{
    font-family: "Poppins" !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 1.5vmax !important;
    color: rgba(255, 255, 255, 0.421) !important;
}

.Poppins-create-post-sub-button{
    font-family: "Poppins" !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 1vmax !important;
}

