.post-follow-button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 16px;
  color: rgba(54, 166, 178, 1);
  border: 2px solid rgba(54, 166, 178, 1);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  scale: 80%;
}

.post-follow-button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgba(54, 166, 178, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.post-follow-button:hover::before {
  scale: 2;
}

.post-follow-button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(54, 166, 178, 1);
}

.post-follow-button:active {
  scale: 1;
}

.Poppins-big {
  font-family: "Poppins" !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: large !important;
}


.Poppins-bio {
  font-family: "Poppins" !important;
  font-weight: 200 !important;
  font-style: normal !important;
  font-size: small !important;
  color: lightgray;
}