.post-follow-button {
  padding: 12px 30px;
  border: 0;
  border-radius: 100px;
  background-color: rgba(54, 166, 178, 0);
  border: rgba(54, 166, 178, 1) solid 1px;
  /* font-weight: Bold; */
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  scale: 80%;
  font-family: "Poppins" !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 100% !important;
  color: lightgray;
}

.post-follow-button:hover {
  background-color: rgba(54, 166, 178, 0.7);
  color: black;
  box-shadow: 0 0 20px rgba(54, 166, 178, 0.5);
  transform: scale(1.05);
}

.Poppins-big {
  font-family: "Poppins" !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 95% !important;
}


.Poppins-bio {
  font-family: "Poppins" !important;
  font-weight: 200 !important;
  font-style: normal !important;
  font-size: 65% !important;
  color: lightgray;
}

.Poppins-btn {
  font-family: "Poppins" !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 90% !important;
  color: lightgray;
}

.post-btn{
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  padding-left: 2% !important;
  padding-right: 2% !important;
}

.Poppins-content{
  font-family: "Poppins" !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: medium !important;
}

.Poppins-tag{
  font-family: "Poppins" !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: small !important;
  
  text-shadow: 1px 1px 20.6277px rgba(54, 166, 178, 0.5); ;
}

.post-name-div{
  margin-top: 3.5%;
}

.post-link-div{
  background-color: #2E2E2E;
}

/* .post-link-main-div{
  padding-top: 2%;
  color: #8F8F8F;
} */

.post-link-copy-div{
  padding-bottom: 0;
}

.post-link-copy-div-icon:hover{
  transition: 0.3s;
  color: #69b1ff !important;
}

.post-link-main-div:hover{
  transition: 0.3s;
  color: #69b1ff !important;

}

.Poppins-message{
  font-family: "Poppins" !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: small !important;
}