/* App.css */

.profile-card {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 100%; /*To fix it to width of container - Nykaj A K*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 35%;
  height: 35%;
  margin: 0 auto;
}
  
.profile-image img {
  width: 100%;
  height: auto;
}

.profile-details h2 {
  margin: 15px 0 10px;
  font-size: 22px;
}
  
.profile-details p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.edit-btn {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.edit-btn:hover {
  background-color: #ddd;
}
  