.suggest-div{
    background-color: #181818;
    color: white;
    border-radius: 20px !important;

}

.pic-div{
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.Poppins{
    font-family: "Poppins" !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: medium !important;
}

.suggestions-picture-div{
    width: 33%;

}

.suggestions-picture-internal-div{
    max-height: 80% !important;
    max-width: 80% !important ;
    border: 0.3vh;
    border-color: aqua;
    border-style: solid;
    /* margin-top: auto !important;
    margin-bottom: auto !important; */
}

.visit-div-suggestions{ 
    width:fit-content ;
    cursor: pointer;
}

.Poppins-sugg{
    font-family: "Poppins" !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 1vi !important;
}

.Poppins-sugg-btn{
    font-family: "Poppins" !important;
    font-weight: 200 !important;
    font-style: normal !important;
    font-size: 0.85vi !important;
}

.uname-div{
    cursor: pointer;
}